@primary: #222831;
@primary_darker: #1E232B;
@secondary: #393E46;
@special: #BF9E4F;
@special_2: #C70039;
@special_2_darker: #AE0032;
@tertiary: #EEEEEE;

@text: #ffffff;
@text_darker: #DFDFDF;
@text_darker_2: #606060;
